.col-3 {
  float: left;
  width: calc(100% / 3);
}
.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.movie-item {
    border: solid 2px #7ab800;
    margin-bottom: 15px;
    padding: 15px;
    list-style: none;
    border-radius: 5px;
    transition: all 0.5s;
    float: left;
    width: 100%;
}

.movie-item:hover {
    background-color: #7ab800;
}

.movie-status {
    cursor: pointer;
}
.movie-status:hover {
    color: #fff;
}

#moviesListContainer {
    margin-top: 100px;
}
#addMovieForm {
    width: 480px;
    margin: 0 auto;
    border: solid 2px #7ab800;
    padding: 30px 15px;
    max-width: 100%;
    box-sizing: border-box;
}
.form-item {
    width: 320px;
    margin: 0 auto;
}
.form-item input, .form-item textarea {
    padding: 5px 10px;
    border: solid 2px #007ac9;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-item input:focus, .form-item textarea:focus {
    outline: none;
    border-color: #004080;
}

.form-item label {
    line-height: 30px;
    font-weight: bold;
    display: block;
}
.form-submit {
    text-align: center;
    padding: 15px;
}
.btn {
    padding: 10px 20px;
    background-color: #007ac9;
    color: #fff;
    font-weight: bold;
    border: solid 2px #007ac9;
    cursor: pointer;
    min-width: 200px;
    border-radius: 5px;
    transition: all 0.5s;
}
.btn:hover {
    color: #007ac9;
    background-color: #fff;
}
.btn:focus {
    outline: none;
}
.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.counter {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    font-weight: bold;
}
.error {
    color: red;
}